*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec1{
    background-image: url(../images/bgphoto.png);
    background-size: cover;
}
.hrshadow{
    border: 1px solid black;
    box-shadow: 0 5px 55px 85px black;
    margin-bottom: 45px;
}
.header{
    margin: 0px 50px;
    /* border: 1px solid white; */
}
.nav{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}
.nav a{
    text-decoration: none;
    font-size: 19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 550;
    font-stretch:extra-expanded;
}
.nav a:hover{
    color: yellow;
}
.na2{
    margin-left: auto;
}
.na2, .na3, .na4, .na5, .na6{
    margin-right: 72px;
}
.discount{
    margin-top: 75px;
    margin-right: 658px;
    /* border: 1px solid white; */
    padding-bottom: 115px;
}
.dischead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
    color: white;
    /* text-align: justify; */
}
.disccontent{
    margin-top: 30px;
    font-size: 21px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: justify; */
    margin-bottom: 65px;
}
.discount a{
    color: white;
    border: 1px solid #F64B3C;
    background-color: #F64B3C;
    padding: 15px 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    border-radius: 50px;
}
.discount a:hover{
    color: black;
    border-color: yellow;
    background-color: yellow;
}
.sec2{
    /* border: 1px solid blue; */
    background-color: #F6EEDF;
    /* border: 1px solid blue; */
}
.s2heading{
    margin: 0px 250px 0px;
    padding-top: 90px;
    /* border: 1px solid blue; */
    text-align: center;
}
.ourchef{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #F64B3C;
    margin-bottom: 30px;
}
.s2content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F64B3C;
}
.people{
    margin: 70px 60px 0px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}
.people div[class*=ph]{
    /* border: 1px solid blue; */
    padding: 0px 80px;
}
.people div[class*=ph] img{
    /* width: 200px; */
    border-radius: 50%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* .ph3 img{
    margin-left: 1px;
} */
.people div[class*=ph] h3{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #F64B3C;
}
.people div[class*=ph] p{
    margin-top: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #F64B3C;
}
.dood1{
    margin-top: -650px;
    margin-left: 1150px;
    position: absolute;
    width: 160px;
}
.dood2{
    margin-top: -115px;
    margin-left: 840px;
    position: absolute;
    width: 80px;
}
.dood3{
    margin-top: -135px;
    margin-left: 370px;
    position: absolute;
    width: 70px;
}
.dood4{
    margin-top: -485px;
    margin-left: -10px;
    position: absolute;
    width: 125px;
}
.dood5{
    margin-top: -645px;
    margin-left: 140px;
    position: absolute;
    width: 85px;
}
.dood6{
    margin-top: -285px;
    margin-left: 1265px;
    position: absolute;
    width: 75px;
}
.sec3{
    background-color: #F64B3C;
    /* border: 1px solid yellow; */
}
.bestburger{
    padding: 180px 0px;
    margin: 0px 100px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
}
.bestburger .bb1{
    /* border: 1px solid yellow; */
    width: 45%;
}
.bestburger .bb1 img{
    width: 75%;
    margin-right: 75px;
    border-radius: 50%;
}
.bestburger .bb2{
    /* border: 1px solid yellow; */
    width: 55%;
}
.bestburger .bb2 h2{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    color: white;
}
.bestburger .bb2 p{
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
    margin-bottom: 70px;
}
.bestburger .bb2 a{
    color:#F64B3C;
    border: 1px solid white;
    background-color: white;
    padding: 15px 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    border-radius: 50px;
}
.bestburger .bb2 a:hover{
    color: white;
    border-color: #222222;
    background-color: #222222;
}
.s3pace{
    padding-bottom: 10px;
}
.sec4{
    background-color: #F6EEDF;
    /* border: 1px solid yellow; */
}
.bestburger2{
    padding: 130px 0px;
    margin: 0px 100px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
}
.bestburger2 .bb4{
    /* border: 1px solid yellow; */
    width: 40%;
}
.bestburger2 .bb4 img{
    width: 80%;
    margin-left: 80px;
    border-radius: 50%;
}
.bestburger2 .bb3{
    /* border: 1px solid yellow; */
    width: 60%;
    padding-bottom: 100px;
}
.bestburger2 .bb3 h2{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    color: #F64B3C;
}
.bestburger2 .bb3 p{
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #F64B3C;
    margin-bottom: 70px;
}
.bestburger2 .bb3 a{
    color: white;
    border: 1px solid #F64B3C;
    background-color: #F64B3C;
    padding: 15px 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    text-decoration: none;
    border-radius: 50px;
}
.bestburger2 .bb3 a:hover{
    border-color: #222222;
    background-color: #222222;
}
.ldood1{
    margin-top: -615px;
    margin-left: 530px;
    position: absolute;
    width: 150px;
}
.ldood2{
    margin-top: -145px;
    margin-left: 555px;
    position: absolute;
    width: 80px;
}
.ldood3{
    margin-top: -560px;
    margin-left: 1190px;
    position: absolute;
    width: 100px;
}
.ldood4{
    margin-top: -180px;
    margin-left: 1190px;
    position: absolute;
    width: 135px;
}
.ldood5{
    margin-top: -110px;
    margin-left: 158px;
    position: absolute;
    width: 85px;
}
.ldood6{
    margin-top: -525px;
    margin-left: -10px;
    position: absolute;
    width: 80px;
}
.sec5{
    background-color: #F64B3C;
}
.s5heading{
    margin: 0px 250px 0px;
    padding-top: 90px;
    /* border: 1px solid blue; */
    text-align: center;
}
.statistics{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}
.s5content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.stats1{
    margin: 70px 90px 0px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}
.st1{
    border: 4px solid white;
    padding: 85px 60px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.st1 h3{
    font-size: 100px;
}
.st1 p{
    font-size: 35px;
}
.st2{
    border: 4px solid white;
    padding: 85px 75px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.st2 h3{
    font-size: 100px;
}
.st2 p{
    font-size: 35px;
}
.st3{
    border: 4px solid white;
    padding: 85px 73px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
.st3 h3{
    font-size: 100px;
}
.st3 p{
    font-size: 35px;
}
.sec6{
    background-color: #F6EEDF;
    background-image: url(../images/Group\ 7.png);
    /* background-color: #F6EEDF; */
    padding-bottom: 80px;
    background-size: cover;
    background-position: 5px;
}
.s6heading{
    margin: 0px 250px 0px;
    padding-top: 90px;
    /* border: 1px solid blue; */
    text-align: center;
    padding-bottom: 90px;
}
.s6heading h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #F64B3C;
}
.packages{
    /* border: 1px solid blue; */
    margin: 0px 70px;
    display: flex;
    justify-content: space-between;
}
.packages div[class*=pac]{
    /* border: 1px solid blue; */
    margin: 0px 60px;
    padding: 25px 2px;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
}
.packages div[class*=pac] h4{
    /* border: 1px solid blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #F64B3C;
    text-align: center;
}
.packages div[class*=pac] img{
    /* border: 1px solid blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #F64B3C;
    margin-top: 25px;
    padding: 0px 90px;
}
.packages div[class*=pac] h5{
    /* border: 1px solid blue; */
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: #F64B3C;
    text-align: center;
}
.packages div[class*=pac] p{
    /* border: 1px solid blue; */
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #F64B3C;
    text-align: center;
}
div[class*=onbutt]{
    /* border: 1px solid #F64B3C; */
    margin-top: 35px;
    margin-bottom: 10px;
}
div[class*=onbutt] a{
    margin: 0px 25px;
    border: 1px solid #F64B3C;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 65px;
    background-color: #F64B3C;
    text-decoration: none;
    color: white;
    font-weight: 550;
    border-radius: 50px;
}
div[class*=onbutt] a:hover{
    border-color: #222222;
    background-color: #222222;
}
.sec7{
    background-image: url(../images/redimage.png);
    background-size: cover;
}
.s7content{
    /* border: 1px solid blue; */
    padding-top: 250px;
    padding-bottom: 250px;
}
.s7content p{
    /* border: 1px solid blue; */
    margin: 60px 302px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 550;
    color: white;
}
.s7content h3{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: 550;
    color: white;
}
.sec8{
    background-color: #F6EEDF;
    /* border: 1px solid blue; */
}
.s8content{
    padding-top: 220px;
    /* border: 1px solid blue; */
    padding-bottom: 220px;
}
.s8email{
    /* border: 1px solid blue; */
    text-align: center;
}
.s8email h1{
    /* border: 1px solid blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #F64B3C;
    padding-bottom: 30px;
}
.s8email p{
    /* border: 1px solid blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.5px;
    color: #F64B3C;
    padding-bottom: 50px;
}
.emailnbutt{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 355px;
    margin-right: 355px;
}
.emailbox{
    /* border: 1px solid blue; */
    margin: 0px 0px;
    padding: 5px;
    border-radius: 50px 0px 0px 50px;
    background-color: white;
}
.emailbox .email{
    /* border: 1px solid blue;  */
    margin-left: 20px;
    margin-right: 10px;
    /* padding-right: 260px; */
    padding: 10px 240px 10px 10px;
    font-size: 15px;
    border-color: transparent;
}
.subscribes{
    /* border: 1px solid blue; */
    padding: 17px 28px 13px 28px;
    border-radius: 0px 50px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 550; */
    text-decoration: none;
    background-color: #F64B3C;
    color: white;
}
.subscribes:hover{
    border-color: #222222;
    background-color: #222222;
}
.bgburger{
    margin-top: -625px;
    margin-left: 1030px;
    position: absolute;
    width: 180px;
}
.LMush{
    margin-top: -360px;
    margin-left: 115px;
    position: absolute;
    width: 70px;
}
.LLeaf{
    margin-top: -600px;
    margin-left: 255px;
    position: absolute;
    width: 90px;
}
.LFries{
    margin-top: -195px;
    margin-left: 160px;
    position: absolute;
    width: 130px;
}
.LCap{
    margin-top: -160px;
    margin-left: 1030px;
    position: absolute;
    width: 85px;
}
.C2Cap{
    margin-top: -623px;
    margin-left: 625px;
    position: absolute;
    width: 85px;
}
.OLeaf{
    margin-top: -140px;
    margin-left: 610px;
    position: absolute;
    width: 90px;
}
.footer{
    background-color: #222222;
    padding: 200px 50px 240px;
}
.footer1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
.Title1{
    width: 55%;
    /* border: 1px solid blue; */
    margin-right: 90px;
}
.Title1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.Title1 p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
}
.social1 a{
    text-decoration: none;
    /* border: 1px solid blue; */
}
.social1 .instu{
    padding: 8px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.social1 .instu:hover{
    background-color: pink;
}
.social1 .faceu:hover{
    background-color: rgb(129, 129, 255);
}
.social1 .twitu:hover{
    background-color: cyan;
}
.social1 .whatu:hover{
    background-color: rgb(38, 209, 38);
}
.social1 .faceu{
    padding: 8px 12px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.social1 .twitu{
    padding: 8px 9px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.social1 .whatu{
    padding: 8px 10px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.About1{
    width: 15%;
    /* border: 1px solid blue; */
}
.About1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.About1 ul{
    list-style: none;
}
.About1 ul a{
    text-decoration: none;
    line-height: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.About1 ul a:hover{
    text-decoration: underline;
}
.Services1{
    width: 15%;
    /* border: 1px solid blue; */
}
.Services1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.Services1 ul{
    list-style: none;
}
.Services1 ul a{
    text-decoration: none;
    line-height: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.Services1 ul a:hover{
    text-decoration: underline;
}
.Other1{
    width: 15%;
    /* border: 1px solid blue; */
}
.Other1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.Other1 ul{
    list-style: none;
}
.Other1 ul a{
    text-decoration: none;
    line-height: 28px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.Other1 ul a:hover{
    text-decoration: underline;
}