*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: url(../images/bgphoto.png);
    background-size: cover;
    padding-bottom: 52px;
    position: relative;
    z-index: 500;
}
.nav{
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
    align-items: center;
}
.navb{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 20px;
}
.navb li{
    padding-right: 52px;
}
.navb li a{
    text-decoration: none;
    font-family: 'Oswald';
    font-size: 18px;
    color: white;
}
.logo{
    padding: 15px 0px 10px 50px;
    width: 95%;
}
.searchb{
    padding-right: 50px;
    color: white;
}
.headcontent{
    width: 45%;
    /* border: 1px solid blue; */
    margin: 120px 0px 20px 80px;
}
.headcontent h1{
    padding-top: 100px;
    font-size: 110px;
    font-family: 'Oswald';
    font-weight: 400;
    color: white;
    padding-bottom: 20px;
}
.headcontent p{
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    padding-bottom: 50px;
}
.headcontent a{
    /* border: 1px solid blue; */
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-family: 'Oswald';
    padding: 10px 75px;
    background-color: #FF630C;
}
.dancetour{
    background-color: #FF630C;
    padding-bottom: 80px;
    position: relative;
    z-index: 100;
}
.dancetour .dth1{
    padding-top: 80px;
    padding-bottom: 35px;
    font-family: 'Oswald';
    font-size: 60px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 400;
}
.dancetour .dtp{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 70px;
    position: relative;
    z-index: 300;
}
.col-25{
    width: 25%;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    /* border: 1px solid blue; */
    padding: 0px 22px;
}
.cards1{
    /* border: 1px solid yellow; */
    background-color: #2C2C2C;
    z-index: 200;
}
.cd1 img{
    width: 100%;
    /* transform-origin: bottom center; */
}
.cd1 img:hover{
    transform: rotateY(180deg);
}
.cd11{
    padding: 25px 10px;
}
.cd11 h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald';
    color: white;
    padding-bottom: 8px;
}
.cd11 p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
}
.bgshape{
    width: 100%;
    position: absolute;
    bottom: 138px;
    right: 512px;
    z-index: 100;
}
.pricing{
    background-color: #2C2C2C;
    position: relative;
    padding-bottom: 100px;
    z-index: 90;
}
.pricing .prh1{
    padding-top: 80px;
    padding-bottom: 35px;
    font-family: 'Oswald';
    font-size: 60px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 400;
}
.pricing .prp{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 80px;
    position: relative;
    z-index: 300;
}
.prcards{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 25px;
    z-index: 85;
    /* border: 1px solid blue; */
    
}
.prcards1{
    background-color: #FF630C;
    padding-top: 55px;
    /* border: 1px solid blue; */
    border-radius: 10px;
    padding-bottom: 1px;
    z-index: 82;
}
.primgs{
    /* border: 1px solid blue; */
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.primgs img:hover{
    animation-name: Badge;
    animation-duration: 2.5s;
    position: relative;
    animation-iteration-count: infinite;
}
.prcont h3{
    text-align: center;
    font-family: 'Oswald';
    font-size: 37px;
    color: white;
    padding-bottom: 20px;
}
.prcont p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: white;
}
.prcont .prbutton{
    margin: 30px 0px 25px 0px;
    display: flex;
    justify-content: center;
}
.prbutton .prba{
    font-size: 18px;
    font-family: 'Oswald';
    color: white;
    border: 1px solid #2C2C2C;
    background-color: #2C2C2C;
    text-decoration: none;
    padding: 12px 105px;
    border-radius: 5px;
}
.amazdsec{
    width: 100%;
    position: relative;
    /* z-index: 79; */
    overflow: hidden;
    /* border: 1px solid blueviolet; */
}
.img1wc{
    display: flex;
    justify-content: space-between;
}
.img1bd{
    width: 50%;
    /* border: 1px solid #2C2C2C; */
    background-image: url(../images/blackdance.png);
    background-size: cover;
}
.img1bd:hover{
    transform: rotateY(180deg);
}
.img2bd{
    width: 50%;
    /* border: 1px solid red; */
    background-image: url(../images/whitedance.png);
    background-size: cover;
    position: relative;
}
.img2bd:hover{
    transform: rotateY(180deg);
}
.img1con{
    width: 50%;
    background-color: #FF630C;
    /* border: 1px solid red; */
}
.amzcon{
    /* border: 1px solid green; */
    margin: 100px 55px;
    padding: 100px 0px;
    align-items: center;
}
.amzcon h2{
    font-family: 'Oswald';
    font-size: 68px;
    color: white;
    padding-bottom: 35px;
    position: relative;
    z-index: 100;
}
.amzcon p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    padding-bottom: 90px;
    position: relative;
    z-index: 100;
}
.amzbutton{
    margin-bottom: 50px;
    position: relative;
    z-index: 100;
}
.amspace{
    margin: 50px 0px;
    padding: 30px 0px;
    /* border: 1px solid purple; */
}
.amzcon a{
    font-family: 'Oswald';
    font-size: 25px;
    color: white;
    text-decoration: none;
    border: 1px solid #2C2C2C;
    background-color: #2C2C2C;
    padding: 10px 90px;
    border-radius: 5px;
}
.shape2{
    position: absolute;
    bottom: 152px;
    right: 720px;
    z-index: 80;
    /* border: 5px solid red; */
}
.shape3{
    position: absolute;
    top: 340px;
    left: 675px;
    z-index: 81;
    transform: rotate(195deg);
    width: 60%;
    /* border: 5px solid red; */
}
.shape4{
    position: absolute;
    top: 450px;
    left: 825px;
    z-index: 81;
    width: 50%;
}
.overflows{
    overflow: hidden;
}
.statistics{
    background-color: #2C2C2C;
    position: relative;
    /* border: 1px solid red; */
    padding-top: 70px;
    padding-bottom: 35px;
}
.statistics h1{
    text-align: center;
    color: white;
    font-family: 'Oswald';
    font-size: 60px;
    margin-top: 100px;
    padding-bottom: 30px;
}
.statistics p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-bottom: 100px;
}
.stats-container{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
    margin: 40px 0px 100px 0px;
}
.stats-box{
    /* border: 1px solid red; */
}
.stats-box h4{
    text-align: center;
    color: white;
    font-family: 'Oswald';
    font-size: 50px;
}
.stats-box p{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 37px;
}
.shape5{
    position: absolute;
    top: 485px;
    right: 810px;
    z-index: 81;
    width: 50%;
    transform: rotateY(180deg);
}
.herbert-simon{
    background-image: url(../images/whitedancer2.png);
    background-size: cover;
    position: relative;
    /* overflow: hidden; */
    padding-top: 100px;
    padding-bottom: 100px;
}
.hb-bg{
    margin: 20px 100px;
    padding: 30px 100px;
    /* border: 1px solid blue; */
}
.hs-para p{
    margin: 100px 0px 0px 0px;
    font-family: 'Nunito',sans-serif;
    font-size: 38px;
    color: white;
    text-align: center;
    /* border: 1px solid red; */
    padding: 100px 100px 50px 100px;
}
.hb-bg h2{
    font-size: 48px;
    font-family: 'Oswald';
    color: white;
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 70px;
}
.subscribe{
    background-color: #FF630C;
    padding: 0px 100px 45px 100px;
    position: relative;
    overflow: hidden;
}
.subscribe .subh1{
    padding-top: 85px;
    padding-bottom: 35px;
    font-family: 'Oswald';
    font-size: 60px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 100;
}
.subscribe .subp{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 60px;
    position: relative;
    z-index: 100;
}
.sub-container{
    /* border: 1px solid blue; */
    margin: 0px 20px;
    padding: 0px 100px 80px 100px;
}
.sub-em-container{
    margin: 0px 100px auto;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.subs-email{
    /* border: 1px solid red; */
    width: 100%;
    padding: 6px 20px;
    background-color: white;
    z-index: 100;
}
.email{
    padding: 7px 100px 5px 5px;
    font-size: 18px;
    border-color: transparent;
}
.subs-button{
    /* border: 1px solid red; */
    width: 35%;
    text-align: center;
    padding: 12px 0px;
    font-size: 18px;
    font-family: 'Oswald';
    background-color: #2C2C2C;
    color: white;
    text-decoration: none;
    z-index: 100;
}
.footer{
    background-color: #222222;
    padding: 100px 50px 100px;
}
.footer1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
.Title1{
    width: 55%;
    /* border: 1px solid blue; */
    margin-right: 90px;
}
.Title1 h3{
    font-family: 'Oswald';
    font-size: 25px;
    color: white;
}
.Title1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    margin-right: 90px;
    /* border: 1px solid blue; */
}
.social1{
    padding-top: 8px;
}
.social1 a{
    text-decoration: none;
    /* border: 1px solid blue; */
}
.social1 .instu{
    padding: 8px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.social1 .instu:hover{
    background-color: pink;
}
.social1 .faceu:hover{
    background-color: rgb(129, 129, 255);
}
.social1 .twitu:hover{
    background-color: cyan;
}
.social1 .whatu:hover{
    background-color: rgb(38, 209, 38);
}
.social1 .faceu{
    padding: 8px 12px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.social1 .twitu{
    padding: 8px 9px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.social1 .whatu{
    padding: 8px 10px;
    background-color: white;
    color: #222222;
    border-radius: 50px;
    margin-right: 10px;
}
.About1{
    width: 15%;
    /* border: 1px solid blue; */
}
.About1 h3{
    font-family: 'Oswald';
    font-size: 25px;
    color: white;
}
.About1 ul{
    list-style: none;
}
.About1 ul li{
    padding-bottom: 15px;
}
.About1 ul a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.About1 ul a:hover{
    text-decoration: underline;
}
.Services1{
    width: 15%;
    /* border: 1px solid blue; */
}
.Services1 h3{
    font-family: 'Oswald';
    font-size: 25px;
    color: white;
}
.Services1 ul{
    list-style: none;
}
.Services1 ul li{
    padding-bottom: 15px;
}
.Services1 ul a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.Services1 ul a:hover{
    text-decoration: underline;
}
.Other1{
    width: 15%;
    /* border: 1px solid blue; */
}
.Other1 h3{
    font-family: 'Oswald';
    font-size: 25px;
    color: white;
}
.Other1 ul{
    list-style: none;
}
.Other1 ul li{
    padding-bottom: 15px;
}
.Other1 ul a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.Other1 ul a:hover{
    text-decoration: underline;
}
.shape6{
    position: absolute;
    bottom: -110px;
    right: 710px;
    z-index: 80;
    width: 70%;
    transform: rotate(320deg);
}
.shape6:hover{
    animation-name: Shape6;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.shape7{
    position: absolute;
    bottom: -110px;
    left: 700px;
    z-index: 80;
    width: 70%;
    transform: rotate(140deg);
}
.shape7:hover{
    animation-name: Shape7;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes Badge{
    100%{ transform: rotate(360deg);}
}
@keyframes Shape6{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
@keyframes Shape7{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}