*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    margin-top: -55px;
    /* padding-top: 52%; */
    background-image: url(../images/uberbg.png);
    background-size:cover;
}
.container{
    width: 95%;
    border: 1px solid transparent;
    
    /* margin-top: 0px; */
    padding-bottom: 16%;
}
.menu{
    width: 100%;
    margin-top: 75px;
    /* border: 1px solid black; */
    /* padding-bottom: 15%; */
}
.navmenu{
    /* border: 1px solid black; */
    padding: 15px 0px;
    display: flex;
    width: 100%;
}
.navmenu .menubar{
    margin-top: 4px;
    margin-left: 0px;
    color: black;
    /* border: 1px solid black; */
    justify-items: left;
}
.navmenu .logo{
    margin-left: -400px;
    /* border: 1px solid black; */
}
.navmenu .signup{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 10px 15px 13px 15px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 1px;
    margin-top: -12px;
}
.navmenu .signup:hover{
    border-color: #333333;
    background-color: #333333;
}
.navmenu .login{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 10px 15px 13px 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: -420px;
    margin-top: -12px;
}
.navmenu .login:hover{
    border-color: #CCCCCC;
    background-color: #CCCCCC;
}
.nav2{
    /* border: 1px solid black; */
    margin-top: 150px;
}
.nav2 h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 52px;
    font-weight:700;
}
.navip{
    display: flex;
    /* border: 1px solid black; */
}
.locbd{
    /* border: 1px solid black; */
    background-color: white;
    padding: 8px 20px;
    margin-left: -1px;
}
.location{
    margin-left: 15px;
    padding: 12px 305px 12px 0px;
    border: 1px solid transparent;
}
.location::placeholder{
    color: gray;
    font-size: 15px;
    font-weight: 550;
}
.ddbd{
    /* border: 1px solid black; */
    padding: 8px 20px;
    background-color: white;
    margin-left: -380px;
}
.selection{
    margin-left: 5px;
    padding: 10px 0px 10px 0px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 550;
}
.ffbd{
    /* border: 1px solid black; */
    padding: 18px 20px;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    border-radius: 5px;
    margin-left: -380px;
    color: white;
    text-decoration: none;
}
.ffbd:hover{
    border-color: #333333;
    background-color: #333333;
}
.silink{
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.silink a{
    color: black;
}
.content1{
    margin-top: 80px;
    /* border: 1px solid black; */
}
.threebox{
    display: flex;
    width: 96%;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.lag{
    width: 31.5%;
    /* border: 1px solid black; */
    text-decoration: none;
    padding-bottom: 10px;
}
.lag .fye{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin-top: 5px;
}
.lag .cba{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17.5px;
    text-decoration: underline;
    color: #1d1c1c;
    margin-top: 8px;
}
.cog{
    width: 31.5%;
    /* border: 1px solid black; */
    text-decoration: none;
    padding-bottom: 10px;
}
.cog .fye2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin-top: 5px;
}
.cog .cba2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17.5px;
    text-decoration: underline;
    color: #1d1c1c;
    margin-top: 8px;
}
.cyg{
    width: 31.5%;
    /* border: 1px solid black; */
    text-decoration: none;
    padding-bottom: 10px;
}
.cyg .fye3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin-top: 5px;
}
.cyg .cba3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17.5px;
    text-decoration: underline;
    color: #1d1c1c;
    margin-top: 8px;
}
.content2{
    margin-top: 22px;
    /* border: 1px solid black; */
    width: 95%;
}
.content2 .heading1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content2 .city1{
    /* border: 1px solid black; */
    width: 50%;
    color: black;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content2 .view1{
    width: 50%;
    /* border: 1px solid black; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17.5px;
    text-decoration: underline;
    color: black;
    align-self: flex-end;
    text-align: right;
}
.content2 .maps{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.cities, .countries{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.cities ul, .countries ul{
    list-style: none;
    line-height: 50px;
}
.cities ul a, .countries ul a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.list1{
    width: 25%;
    /* border: 1px solid black; */
}
.list2{
    width: 25%;
    /* border: 1px solid black; */
}
.list3{
    width: 25%;
    /* border: 1px solid black; */
}
.list4{
    width: 25%;
    /* border: 1px solid black; */
}
.content2 .heading2{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.content2 .country1{
    /* border: 1px solid black; */
    width: 50%;
    color: black;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content2 .view2{
    width: 50%;
    /* border: 1px solid black; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17.5px;
    text-decoration: underline;
    color: black;
    align-self: flex-end;
    text-align: right;
}
.hrcolor{
    border: 1px solid #ececec;
    margin-bottom: 40px;
}