*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-image: url(../images/ajays_background.JPG);
    background-attachment: fixed;
    background-size: cover;
}
.header{
    background: #C5322B;
    /* flex-direction: column ; */
    height: 85px;
    position: fixed;
    width: 100%;
    opacity: 100%;
}
.logo{
    margin-left: 90px;
    float: left;
}
.nav{
    font-size: 14px;
    margin-top: 16px;
    margin-right: 190px;
}
.nav a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
}
.nav a:hover{
    color: #FF8D00;
}
.nav2 a{
    color: aliceblue;
    font-size: 15px;
    margin-top: -37px;
    margin-right: 90px;
    border: 20px solid #FF8D00;
    padding: 0px 11px;
    float: right;
    background-color: #FF8D00;
    border-radius: 40px;
    text-decoration: none;
}
.nav2 a:hover{
    background-color: rgb(19, 19, 19);
    border: 20px solid rgb(19, 19, 19);
}
.curve{
    margin-top: 600px;
    /* border-bottom: 20px solid #FFFFFF; */
}
.cbox{
    background-color: #FFFFFF;
    margin-top: -5px;
}
.obgphoto{
    opacity: 5%;
    margin-top: -675px;
    position: relative;
} 
.ohistory{
    background-color: #FFFFFF;
} 
.wrapper1{
    padding-top: 70px;
    border: 1px solid black;
    background-color: #FFFFFF;
}
.container{
    margin: 0 auto;
    border: 1px solid black;
    width: 82%;
    display: flex;
}
.row1, .row2{
    width: 100%;
    border: 1px solid black;
}
.row1{
    padding: 80px 0px;
}
.row1 h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1d1d;
    font-size: 42px;
    text-align: left;
}
.row2 img{
    max-width: 100%;
    size-adjust: auto;
}